{{#extend "layout"}}
  {{#content "head" mode="append"}}
  <link rel="stylesheet" href="assets/css/home.css" />
  {{/content}}


  {{#content "body"}}
    <h2>Welcome Home</h2>
    <p>こんにちは</p>
  {{/content}}


  {{#content "foot" mode="prepend"}}
  <script src="assets/js/analytics.js"></script>
  {{/content}}
{{/extend}}
