<!doctype html>
<html lang="en-us">
<head>
{{#block "head"}}
  <title>サイト名(SP)</title>
  <link rel="stylesheet" href="/s/styles/style.css" />
{{/block}}
</head>
<body>

<div class="site">
  <div class="site-hd" role="banner">
    {{#block "header"}}
    <h1>スマホ版</h1>
    {{/block}}
  </div>

  <div class="site-bd" role="main">
    <ul>
      <li><a href="/s/">index</a></li>
      <li><a href="/s/sample-extend.html">sample-extend.html</a></li>
      <li><a href="/s/sample-partial.html">sample-partial.html</a></li>
      <li><a href="/s/sample-use-data.html">sample-use-data.html</a></li>
    </ul>
    {{#block "body"}}
    {{/block}}
  </div>

  <div class="site-ft" role="contentinfo">
    {{#block "footer"}}
    <small>&copy; 2013</small>
    {{/block}}
  </div>
</div>

{{#block "foot"}}
<script src="/s/path/to/file"></script>
{{/block}}
</body>
</html>
