{{#extend "layout"}}


  {{#content "body"}}
    <h2>Welcome Home</h2>
    <p>こんにちは(SP)</p>
  {{/content}}


  {{#content "foot" mode="prepend"}}
  <script src="/s/scripts/script-sp.js"></script>
  {{/content}}
{{/extend}}
