{{#extend "layout"}}

  {{#content "header" mode="append"}}
    <p>ヘッダーです</p>
  {{/content}}


  {{#content "body"}}
    <h2>Welcome Home</h2>
    <p>こんにちは、コンテンツです</p>
  {{/content}}


  {{#content "footer" mode="prepend"}}
    <hr>
    <p>フッターです</p>
  {{/content}}


{{#content "foot" mode="prepend"}}
<script src="/scripts/scripts-sp.js"></script>
{{/content}}
{{/extend}}
